// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base: 4px !default;
$padding-base-vertical: 14px !default;
$brand-primary: #f6483b !default; //#2c98f0
$brand-footer: #2C2C2C !default;
$brand-color-1: #2c98f0 !default;
$brand-color-2: #ec5453 !default;
$brand-color-3: #f9bf3f !default;
$brand-color-4: #a84cb8 !default;
$brand-color-5: #2fa499 !default;
$brand-color-6: #4054b2 !default;
$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #f2f3f7;
$brand-lighter: #e9e9e9;
$brand-body-color: #e8e8e8;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;
$input-border-focus: $brand-primary !default;
$form-group-margin-bottom: 30px !default;